  <!-- main background image -->
  <div class="main-background">
    <div class="left-back">
      <div class="left-inner">
        <div class="right-content">
          <h1>collections</h1>
          <p>
            KB FASHION, established in 2012, caters to thoughtful shoppers who
            appreciate unique designs and top-quality pieces. We are
            constantly curating fresh new collections and looking for the next
            big thing our customers will love.
          </p>
        </div>
        <div class="right-content"></div>
      </div>
    </div>
    <div class="left-back"></div>
  </div>

  <!-- main background image ended-->

  <!-- gallery -->

  <div class="gallery">
    <h1>our gallery</h1>

    <div class="main-gallery">
      <div class="inner-gallery">
        <img src="lnp/1.png" alt="" />
        <img src="lnp/5.jpg" alt="" />
      </div>
      <div class="inner-gallery">
        <div class="girl">
          <img src="images/girlsw.png" alt="" />
        </div>
      </div>
      <div class="inner-gallery">
        <img src="lnp/feature.png" alt="" />
        <img src="lnp/boy.png" alt="" />
      </div>
    </div>
  </div>

  <!-- gallery ende-->
  <!-- banner start -->
  <div class="banner">
    <div class="inner-banner">
      <img src="images/banner2.png" alt="" />
    </div>
    <div class="inner-banner">
      <h1>we offer brand new style</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias
        quam corporis, nihil, numquam ipsa aut distinctio magnam quidem totam
        ipsam itaque blanditiis omnis repudiandae ea neque exercitationem vel
        natus molestiae.
      </p>
      <a href="#" id="shope-now">shop now</a>
    </div>
  </div>
  <!-- banner start ended -->

  <!-- our blogs and news -->

  <div class="our-blog">
    <h1>our blogs and news</h1>

    <div class="main-blog">
      <div class="inner-blog">
        <img src="images/blog1.png" alt="" />
        <p>This is secret about fashion people</p>
      </div>
      <div class="inner-blog">
        <img src="images/blog2.png" alt="" />
        <p>This is secret about fashion people</p>
      </div>
    </div>
  </div>
